@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300;1,400&display=swap');

*, 
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.page-control {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
.home {
    width: 80%;
}
.header {
    text-align: center;
    margin: 20px;
    padding-bottom: 1.5rem;
}
.header0 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    font-size: 1.5rem;
}

#profile_img {
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
.footer {
    width: 100%;
}
.footer_top {
    display: flex;
    padding: 10px;
    justify-content: center;

}
.social-icons {
    height: 13px;
    margin-right: 15px;
}

.social-icon:last-child {
    color: rgb(10, 10, 10);
}
.footer-icon {
    margin-top: 0.5rem;
    height: 15px;
}
.dot {
    color: red;
    font-size: 1.5rem;
}
.footer-paragraph {
    padding-top: 0.5rem;
    font-size: 0.8rem;
}
.divider {
    margin-top: 3rem;
    margin-bottom: 0.7rem;
}

.footerbase {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (max-width : 500px) {
    .home {
        width: 90%;
    }
    #profile_img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    
    }
    h3 {
        font-size: 1rem;
    }
    .footerbase {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-icon {
        margin-top: 0.5rem;
        height: 15px;
        width: 70px;
    }
}